################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/CalcAdd/.vs/CalcAdd/CopilotIndices/17.14.1368.60722
/CalcAdd/.vs
